body, html {
    height: 100% !important;
}

.main-navbar {
    margin: 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    
    a { color: #323A45 }
    
    .navbar-toggle {
        background-color: transparent;
        border-color: #323A45;

        .icon-bar {
            background: #323A45;
        }
    }

    .navbar-brand {
        font-family: "Roboto", Verdana, sans-serif;
        font-size: 30px;
        font-smoothing: antialiased;
        -webkit-font-smoothing: antialiased;
    }

    .navbar-collapse {
        ul {
            margin-top: 0;
            margin-bottom: 0;
        }
        li {
            border-top: 1px solid #ddd;
        }
    }

    @media (min-width: 768px) {
        .navbar-collapse li {
            border-width: 0;
        }
    }
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

.main {
    .page {
        display: table;
        width: 100%;
        .title {
            font: 100%/1.5 "Roboto", Verdana, sans-serif;
            font-size: 120px;
            line-height: 1.2;
            text-align: center;

            font-smoothing: antialiased;
            -webkit-font-smoothing: antialiased;

            color: #f35626;
            background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);

            background-clip: text;
            text-fill-color: transparent;
            animation: hue 10s infinite linear;

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-animation: hue 10s infinite linear;
        }
        .content {
            font-family: "Roboto", Verdana, sans-serif;
            font-size: 24px;
            text-align: center;
            font-smoothing: antialiased;
            -webkit-font-smoothing: antialiased;
        }
    }

    #first-page {
        .title {
            color: #f35626;
            background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);

            background-clip: text;
            text-fill-color: transparent;
            animation: hue 10s infinite linear;

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-animation: hue 10s infinite linear;
        }
    }
    
    #second-page {
        background-color: #fff;
    }

    #third-page {
        background-color: #fff;
    }
}
