@-webkit-keyframes rotate {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
  50% {
    -webkit-transform: scale(0.6) rotate(180deg);
    transform: scale(0.6) rotate(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
  50% {
    -webkit-transform: scale(0.6) rotate(180deg);
    transform: scale(0.6) rotate(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chenlvjie\/Documents\/GitHub\/cssLearning\/loader\/sass\/ball-clip-rotate\.scss}line{font-family:\0000318}}
.ball-clip-rotate > div {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 2px;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  height: 25px;
  width: 25px;
  background: transparent !important;
  -webkit-animation: rotate 0.75s 0s infinite linear;
  animation: rotate 0.75s 0s infinite linear;
  display: inline-block;
}
