@import 'variable';
@import 'mixin';

@include keyframes("rotate") {
  0% {
    @include transform(rotate(0deg));
  }
  50% {
    @include transform(rotate(180deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

.ball-rotate {
  position: relative;

  > div {
    @include balls();
    @include global-animation();

    position: relative;

    &:first-child {
      @include animation(rotate 1s 0s cubic-bezier(.7,-.13,.22,.86) infinite);
    }

    &:before, &:after {
      @include balls();

      width: 15px;
      height: 15px;
      content: "";
      position: absolute;
      opacity: 0.8;
    }

    &:before {
      top: 1px;
      left: -26px;
    }

    &:after {
      top: 1px;
      left: 26px;
    }
  }
}
